@page

@model IndexModel
@{
    ViewData["Title"] = "Our Earrings Collection";
}

<div class="text-center">
    <h1 class="display-5">@ViewData["Title"]</h1>
</div>

<div class="card col-sm-4" style="width: 18rem;">
    @foreach (var product in Model.Products)
    {
        <img src=@product.Image class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@product.Weight</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">@product.Cost</a>
        </div>

    }
</div>